*{
  box-sizing: border-box;
}

html{
  background-color: #2F3237;
}

body{
  padding-top: 50px;
  padding-bottom: 50px;
}

h1{
  text-align: center;
  font-size: 30px;
  color: #fff;
}

div#app{
  margin: 0 15px;
}

.sub-title{
  position: relative;
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.sub-title h2{
  font-size: 22px;
  margin-left: 25px;
  color: #F0402C;
  display: inline-block;
}

.sub-title img{
  position: absolute;
  left: 0;
  top: 5px;
  width: 22px;
}

.flex{
  display: flex;
  flex-direction: column;
}

.card-project{
  height: 220px;
  width: 255px;
  margin: 0 auto 25px;
}

.card-project .img-project{
  height: 170px;
  overflow: hidden;
}

.card-project .img-project img{
  height: 170px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.card-project .details-project{
  height: 50px;
  line-height: 50px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 0 0 15px 15px;
  background: #000;
  text-align: center;
  color: #fff;
}

.sub-title h2:hover,
.card-project:hover .details-project
{
  color: #3273dc;
}

@media all and (min-width: 568px){
  .flex{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 25px;
  }

  .card-project{
    margin: 0 0 25px 0;
  }
}

@media all and (min-width: 768px){
  .card-project{
    width: 300px;
  }
}

@media all and (min-width: 1216px){
  section{
    width: calc(325px * 3);
    margin: auto;
  }

  .flex{
    justify-content: flex-start;
  }

  .card-project{
    margin: 0 25px 25px 0;
  }
}

@media all and (min-width: 1360px){
  section{
    width: 1325px;
    margin: auto;
  }
}