@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Cabin', sans-serif;
}

a{
  cursor: pointer;
}

h2{
  font-size: 2rem;
  line-height: 2.5rem;
}

.btn{
  @apply text-white bg-black py-4 px-6 rounded-md;
}

@media (min-width: 768px){
  h2{
  font-size: 3.5rem;
  line-height: 4rem;
}
}