@media screen and (min-width: 640px) {
  $grid-size: repeat(3, 160px);
  $marge: 15px;
  $grid-img-width: calc(200% + 15px) !important;
  $grid-img-height: calc(200% + 15px) !important;

  .gallery__grid {
    grid-template-columns: $grid-size;
    grid-template-rows: $grid-size;

    margin-left: $marge;

    &-2 img {
      width: $grid-img-width;
    }

    &-3 img {
      width: $grid-img-width;
    }

    &-4 img {
      height: $grid-img-height;
    }

    div {
      margin-bottom: $marge;
      margin-right: $marge;
    }
  }
}

@media screen and (min-width: 768px) {
  .info__personal-img img {
    max-width: 156px;
    max-height: 156px;
  }

  .info__virtual div {
    width: 100px;
    height: 67px;
  }
}

@media screen and (min-width: 1024px) {
  $grid-size: repeat(3, 210px);
  $marge: 22px;
  $grid-img-width: calc(200% + 22px) !important;
  $grid-img-height: calc(200% + 22px) !important;

  .gallery__grid {
    grid-template-columns: $grid-size;
    grid-template-rows: $grid-size;

    margin-left: $marge;

    &-2 img {
      width: $grid-img-width;
    }

    &-3 img {
      width: $grid-img-width;
    }

    &-4 img {
      height: $grid-img-height;
    }

    div {
      margin-bottom: $marge;
      margin-right: $marge;
    }
  }
}

@media screen and (min-width: 1440px) {
  $grid-size: repeat(3, 300px);
  $marge: 32px;
  $grid-img-width: calc(200% + 32px) !important;
  $grid-img-height: calc(200% + 32px) !important;

  .gallery__grid {
    grid-template-columns: $grid-size;
    grid-template-rows: $grid-size;

    margin-left: $marge;

    &-2 img {
      width: $grid-img-width;
    }

    &-3 img {
      width: $grid-img-width;
    }

    &-4 img {
      height: $grid-img-height;
    }

    div {
      margin-bottom: $marge;
      margin-right: $marge;
    }
  }
}