$grid-size: repeat(3, 110px);
$marge: 10px;
$grid-img-width: calc(200% + 10px) !important;
$grid-img-height: calc(200% + 10px) !important;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',
    sans-serif;
}

body {
  margin-top: min(max(30px, 4vw), 60px);
  margin-bottom: min(max(30px, 4vw), 60px);
}

h1 {
  font-weight: 600;
  font-size: min(max(14px, 4vw), 24px);
  text-align: center;
}

.info {
  &__personal {
    &-img {
      img {
        display: block;
        // width: 100px;
        max-width: 100px;
        max-height: 100px;
        margin: auto;
        height: auto;

        border-radius: 16px;
      }
    }

    &-name {
      margin-top: 10px;
    }

    &-city {
      margin-top: 5px;

      p {
        color: #A9A9A9;

        font-weight: 600;
        font-size: min(max(10px, 4vw), 14px);
        text-align: center;
      }
    }
  }

  &__virtual {
    display: flex;
    justify-content: center;
    margin-top: 12px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 80px;
      height: 50px;
      margin: 0 12px;

      background: #e5e5e5;
      border-radius: 12px;
    }

    p {
      color: #bdbdbd;

      font-size: min(max(12px, 4vw), 14px);
      font-weight: 600;
    }

    .number {
      color: #4e5150;

      font-size: min(max(12px, 2vw), 18px);
    }
  }
}

.gallery {
  margin-top: 40px;

  &__grid {
    display: grid;
    grid-template-columns: $grid-size;
    grid-template-rows: $grid-size;
    justify-content: center;

    margin-left: $marge;

    &-2 {
      grid-column-start: 2;
      grid-column-end: 3;

      img {
        width: $grid-img-width;
      }
    }

    &-3 {
      grid-column-start: 1;
      grid-column-end: 2;

      img {
        width: $grid-img-width;
      }
    }

    &-4 {
      grid-column-start: 3;
      grid-row-end: 3;

      img {
        width: 100% !important;
        height: $grid-img-height;
      }
    }

    &-5 {
      grid-column-start: 1;
      grid-row-start: 3;
    }

    &-6 {
      grid-column-start: 2;
      grid-row-start: 3;
    }

    div {
      margin-bottom: $marge;
      margin-right: $marge;
    }

    img {
      width: 100%;
      height: 100%;

      border-radius: 12px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);

      transition: width 1s;
    }
  }
}


@import './responsive';