@import "./variables";
@import "./mixins";
@import "./_normalize.scss";
@import "./_reset.local.scss";

body {
  @include padding(12px);
  @include style-text;
}

h1,
h3,
.container__price-old {
  color: $colorDarkOne;
}

h1 {
  margin-top: 32px;
  padding-left: 5px;

  font-size: min(max(24px, 3vw), 32px);
}

h2 {
  margin-bottom: 10px;

  color: $colorDarkThree;

  font-size: min(max(14px, 3vw), 18px);
  font-weight: 600;
}

hr {
  border: 1px solid #BDBDBD;
}

.wrapper {
  &__purchase {
    @include padding(20px);

    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;

    background-color: $backgroundOne;
    border-radius: 12px;

    &-item {
      display: flex;

      margin-bottom: 30px;

      img {
        height: 120px;
        width: 120px;
        margin-right: 20px;

        border-radius: 20px;
      }

      .container {
        h3 {
          margin-bottom: 10px;

          font-size: 12px;
          font-weight: 600;
        }

        &__price-new {
          margin-right: 5px;

          color: $colorSecondary;

          font-size: 14px;
        }

        &__price-old {
          font-size: 10px;
          text-decoration-line: line-through;
        }

        &__quantity {
          display: flex;
          align-items: center;
          justify-content: space-around;

          height: 50px;
          width: 120px;

          border: 1px solid #828282;
          border-radius: 12px;

          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }

          input,
          button {
            font-size: 1.2rem;
            text-align: center;
          }

          input {
            width: 20px;

            border: none;
            background: none;

            font-family: Montserrat, sans-serif;
            font-size: 16px;
            font-weight: 600;
          }

          button {
            height: 20px;
            width: 20px;

            background-color: $backgroundTwo;
            color: $colorDarkTwo;
          }
        }
      }
    }

    &-total {
      margin-top: 60px;

      .shipping,
      .total {
        display: flex;
        justify-content: space-between;

        color: $colorDarkThree;

        p {
          font-size: 14px;
        }
      }
    }
  }

  &__form {
    margin-top: 40px;

    &-contact {
      margin-bottom: 45px;
    }

    label {
      display: block;
      margin-bottom: 5px;

      color: $colorDarkFour;

      font-size: min(max(10px, 3vw), 12px);
    }

    input:not([type="checkbox"]):not([type="submit"]) {
      height: min(max(40px, 3vw), 56px);
      padding-left: 40px;
      width: 100%;

      border: 1px solid #828282;
      border-radius: 12px;

      font-size: min(max(12px, 3vw), 16px);
    }

    .block-flex {
      position: relative;
      display: flex;

      input {
        width: 48% !important;
      }

      .block-input:last-child {
        position: absolute;
        top: 0;
        left: calc(100% - 48%);
      }
    }

    .block-input {
      position: relative;
      width: 100%;

      margin-bottom: 15px;

      .icons {
        position: absolute;
        top: 50.5%;
        left: calc((40px / 2) - (15px / 2));

        color: $colorDarkTwo;

        font-size: 15px
      }
    }
  }
}

footer {
  margin-top: 100px;
}
